table.qa {
  height: auto;
}

table.qa td {
  padding-left: 5px;
  padding-right: 5px;
}

tr.a-row {
  border-top: 1px solid #eee;
}

td.qa-td {
  width: 100%;
}

td.qa-td textarea {
  border: none;
  width: 100%;
  background-color: transparent;
  margin-top: 5px;
}

tr.q-row td.qa-td textarea,
tr.a-row td.qa-td textarea {
  resize: vertical;
}

.input-group-addon.close-addon {
  color: #a94442;
  background-color: #f2dede;
  border-color: #a94442;
}

.features .container {
  padding-top: 0px;
  padding-bottom: 30px;
}

.template {
  display: none;
}

.center-outer {
  text-align: center;
}

.center {
  display: inline-block;
}

#qas .translucent {
  opacity: 0.3;
}

div.qa {
  margin-bottom: 20px;
}

#no-unanswered-questions {
  font-style: italic;
  color: gray;
  text-align: center;
}

#save-success {
  font-style: italic;
  color: #3c763d;
  text-align: center;
}

#thinking-error {
  color: #a94442;
  text-align: center;
}